* {
    margin: 0;
    padding: 0;
}

  body
{   background-image: linear-gradient(to top, #064231 0%, #69c513 100%);
    color: white;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: 'Raleway', sans-serif;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

header {
  position: relative;
  height: 100vh;

}

.viewport-header {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-wrap: wrap;
  }

.viewport-header h1{
    font-family: 'Syncopate', sans-serif;
}  

.viewport-header p{
    font-size: 1.5rem;
}

.btn-liquid {
	display: inline-block;
	position: relative;
	/* border-radius: 27px; */
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.btn-liquid .inner {
	position: relative;
    text-decoration: none;
    z-index: 2;
}

.viewport-header a:hover{
    text-decoration: none;
    color: rgb(32, 167, 50);
}

.btn-liquid canvas {
	position: absolute;
	top: -50px;
	right: -50px;
	bottom: -50px;
	left: -50px;
    text-decoration: none;
	z-index: 1;
}

.logo {
    /* line-height: 60px; */
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 2px;
}

.logo:hover{
    background: linear-gradient(to right, #b3830b, #FF8008);
    background-clip: text;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 100;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(16, 82, 10, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    color: white;
}

nav.black ul li a ,nav.black .logo{
    color: white;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

.menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    transition: 0.5s;
    transition-property: color, transform;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.menu ul li a:hover {
    color: #ffbe33;
    transform: scale(1.3);
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: #000;
    }

    nav.black ul {
          background: #000;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

}

/* Button */
.buttons > button{
  margin-right: 30px;
}

.btn-gradient{
background: #1462ff;
    color: white;
    border-radius: 12px;
    padding: 12px 48px;
    box-shadow: 0 6px 30px -10px #4a74c9;
    transition: all 0.5s ease;
    border: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-gradient:hover{
  box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
  transform: scale(0.930);
}

.gradient2{
  background-image: linear-gradient(60deg, #4aa5fb 10%, #1ccafa 50%, #00e1f9 100%);
border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
}

.gradient2:hover{
border-top-left-radius: 0px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 12px;
}

/* Understanding the problems */
.sections .issues{
  text-align: center;
  margin:2rem auto;
}

.sections .issues i{
  font-size: 4rem;
  background:-moz-linear-gradient(to right, #ffe000, #799f0c 100%); 
        background: -webkit-linear-gradient(to right, #ffe000, #799f0c 100%); 
        background: linear-gradient(to right, #ffe000, #799f0c 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
}

.sections .issues p{
  margin: 1rem auto;
  font-size: 1.2rem;
}

/* About */

.sections{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    padding: 3rem;
    margin: 3rem auto;
    position: relative;
}
.sections .about{
  text-align:center;
  
}
.sections .about i{
  font-size: 4rem;
  margin:1rem auto;
  background:-moz-linear-gradient(to right, #0356a3, #0cd4b3 100%); 
        background: -webkit-linear-gradient(to right, #0356a3, #0cd4b3 100%); 
        background: linear-gradient(to right, #0356a3, #0cd4b3 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
}

/* Predict */
.sections .predict{
  text-align:center;
  
}

.sections .predict p{
  margin: 1rem auto;
  font-size: 1.2rem;
}

.sections .predict i{
  font-size: 4rem;
  margin:1rem auto;
  background:-moz-linear-gradient(to right, #276e12, #06f155 100%); 
        background: -webkit-linear-gradient(to right,  #276e12, #06f155 100%); 
        background: linear-gradient(to right, #276e12, #06f155 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
}

.head{
  font-size:1.5rem
}

    /* footer */
    ul {
        margin: 0px;
        padding: 0px;
    }
    .footer-section {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);

      position: relative;
    }
    .footer-cta {
      border-bottom: 1px solid #373636;
    }
    .single-cta i {
      color: #ff5e14;
      font-size: 30px;
      float: left;
      margin-top: 8px;
    }
    .cta-text {
      padding-left: 15px;
      display: inline-block;
    }
    .cta-text h4 {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 2px;
    }
    .cta-text span {
      color: #757575;
      font-size: 15px;
    }
    .footer-content {
      position: relative;
      z-index: 2;
    }
    .footer-pattern img {
      position: absolute;
      top: 0;
      left: 0;
      height: 330px;
      background-size: cover;
      background-position: 100% 100%;
    }
    .footer-logo {
      margin-bottom: 30px;
    }
    .footer-logo img {
        max-width: 200px;
    }
    .footer-text p {
      margin-bottom: 14px;
      font-size: 14px;
          color: #7e7e7e;
      line-height: 28px;
    }
    .footer-social-icon span {
      color: #fff;
      display: block;
      font-size: 20px;
      font-weight: 700;
      font-family: 'Poppins', sans-serif;
      margin-bottom: 20px;
    }
    .footer-social-icon a {
      color: #fff;
      font-size: 16px;
      margin-right: 15px;
    }
    .footer-social-icon i {
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 38px;
      border-radius: 50%;
    }
    .facebook-bg{
      background: #3B5998;
    }
    .twitter-bg{
      background: #55ACEE;
    }
    .google-bg{
      background: #DD4B39;
    }
    .footer-widget-heading h3 {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 40px;
      position: relative;
    }
    .footer-widget-heading h3::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15px;
      height: 2px;
      width: 50px;
      background: #ff5e14;
    }
    .footer-widget ul li {
      display: inline-block;
      /* float: left; */
      width: 50%;
      margin-bottom: 12px;
    }
    .footer-widget ul li a:hover{
      color: #ff5e14;
    }
    .footer-widget ul li a {
      color: #878787;
      text-transform: capitalize;
    }
    .subscribe-form {
      position: relative;
      overflow: hidden;
    }
    .subscribe-form input {
      width: 100%;
      padding: 14px 28px;
      background: #2E2E2E;
      border: 1px solid #2E2E2E;
      color: #fff;
    }
    .subscribe-form button {
        position: absolute;
        right: 0;
        background: #ff5e14;
        padding: 13px 20px;
        border: 1px solid #ff5e14;
        top: 0;
    }
    .subscribe-form button i {
      color: #fff;
      font-size: 22px;
      transform: rotate(-6deg);
    }
    .copyright-area{
      background: #202020;
      padding: 25px 0;
    }
    .copyright-text p {
      margin: 0;
      font-size: 14px;
      color: #878787;
    }
    .copyright-text p a{
      color: #ff5e14;
    }
    .footer-menu li {
      display: inline-block;
      margin-left: 20px;
    }
    .footer-menu li:hover a{
      color: #ff5e14;
    }
    .footer-menu li a {
      font-size: 14px;
      color: #878787;
    }

    .foot-img img{
        max-width: 15rem;
    }

    /* Custom ScrollBar */

    /* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(33, 90, 36); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(315deg, #485461 0%, #28313b 74%); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b6e11; 
}